/* CSS kachow */
h1 {
  color: black;
  font-size: 300%;
  text-align: center;
}
h3 {
  color: black;
  font-family: verdana;
  font-size: 200%;
  display: inline-block;
  margin: 10px;
  background color:blue;
}
h4 {
  color: black;
  font-family: verdana;
  font-size: 200%;
  display: inline-block;
  margin: 10px;
  bottom: 600px;
};
}
p  {
  color: black;
  font-family: verdana;
  font-size: 70%;
  text-align: left;
}

.SmartImage--background {
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-image:url('genericarchit.jpg');
}
.SmartImage {
    background-repeat: no-repeat;
    background-position: center center;


}
.title {
	font-family: "Times New Roman", Times, serif;

}

.outline {
  outline-style: hidden;
  outline color: rgb();

}
div.typewriterbackground {
  background: rgb(21,12,71);
}
.picture1 {
  background-image:('genericarchit.jpg')
  background-repeat: none;
  width: 100%
  height:500px;
}


.typed-cursor {
  color: black;
  font-family: verdana;
  font-size: 200%;
  display: inline-block;
}

.form-nivel {
    width: 160px;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    text-align: left;
    display: inline-block;
}

.form-nivel2 {
    width: 160px;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    text-align: left;
    display: inline-block;
}
.typed-cursor {
  color: black;
}
.typedtext{
  color: black
  font-size 30;
  text-align: center;
  background-color: blue;
}
