/* CSS kachow */
}
p  {
  color: black;
  font-family: verdana;
  font-size: 160%;
}


.typed-cursor {
  color: white;
}


div.titleText {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 5vw;
  font-family: "Times New Roman", Times, serif;
  margin-left: 5%  
}

div.border {
  border-style: dotted;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
}

.imgContainer {
  margin-top: 0px;
  background-color: rgb(11, 31, 61);
}


div.backgroundColor {
  background-color: rgb(11, 31, 61);
}
img.backgroundBuilding1 {
  width: 100%;
  height:800px;
}

div.headerStyle {
  text-align: center;
  background-color: rgb(11, 31, 61);
  font-size: 50px;
  color: rgb(227, 231, 237);
  padding-top: 10px;
}

div.linkStyle {
  background-color: rgb(11, 31, 61);
  text-align: center;
  left: 20%;
  color: rgb(227, 231, 237);
  font-size: 30px;
  width: 100%;;
  margin-bottom: 1%;
  margin-top: 1%;
}


button.link1 {
  margin-left: 2.2vw;
  margin-right: 2.2vw;
  top: 10%;
  float: left;
  width: 20vw;
  margin-top: inherit;
  margin-bottom: inherit;
  border-style: dotted;
  border-color: white;
  border-width: 0;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

button.link2 {
  cursor: pointer;
  margin-left: 2.2vw;
  margin-right: 2.2vw; 
  float: left;
  top: 10%;
  width: 20vw;
  margin-top: inherit;
  margin-bottom: inherit;
  border-style: dotted;
  border-color: white;
  border-width: 0;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

button.link3 {

  margin-left: 2.2vw;
  margin-right: 2.2vw;
  top: 10%;
  float: right;
  width: 20vw;
  margin-top: inherit;
  margin-bottom: inherit;
  border-style: dotted;
  border-color: white;
  border-width: 0;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}


div.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em dotted rgb(227, 231, 237); /* The typwriter cursor */
  border-width: 2px;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 2s steps(16, end),
    blinking-cursor .5s step-end infinite;
}

a {
  text-decoration: none;
  font-style: inherit;
  font-size: inherit;
  color: inherit;

}

hr {
align-self: center;
width: 75%;
margin-left: auto;
margin-right: auto;
height: 1px;
background-color:white;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 30vw;}
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: rgb(227, 231, 237)
  border-style: dotted
   }
  50% { border-color: rgb(227, 231, 237); }
}

​html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, img,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: no;

}

input[type=text] {
  width: 20vw;
  padding: 12px 20px;
  margin-bottom: 100px;
  box-sizing: border-box;
  font-size: 20px;

}

button {
  outline: none;
}

button:hover, .dropbtn {
background-color: rgb(20, 58, 114);
}
